.container {
  width: 100%;
  min-width: 375px;
  padding-left: 17px;
  padding-right: 18px;
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding-left: 150px;
    padding-right: 150px;
  }
}
