/*  -------------------Header---------------------   */

.header {
  padding-top: 6px;
  padding-bottom: 17px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-wrapper {
  padding: 0;
  position: relative;
  height: 100%;
  display: flex;
}

.menu-btn {
  padding: 0;

  padding-top: 7px;
  align-self: center;
  cursor: pointer;
  height: 24px;
  margin-right: 15px;
}

.subscribe-btn {
  width: 102px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;

  color: #033f47;
  background-color: #ffce04;
  border-radius: 4px;
}

/*  ----------------------------HERO---------------------------   */

.hero {
  padding-top: 32px;
  padding-bottom: 34px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 34px;
}

.hero-item:first-child {
  margin-bottom: 16px;
}

.hero-title {
  font-family: 'Sharp Sans', sans-serif;
  font-weight: 800;
  font-size: 42px;
  line-height: 1.08;

  letter-spacing: -0.01em;
  color: #0e924d;
  margin-bottom: 16px;
}

.hero-title-field {
  font-weight: 400;
  color: #004d40;
}

.hero-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  color: #033f47;

  opacity: 0.8;
  margin-bottom: 24px;
}

.hero-btn {
  width: 176px;
  border: 1px solid #0f713e;
  border-radius: 4px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 24px;

  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  color: #0f713e;
  text-align: center;
}

.hero-line {
  border: 1px solid #0e924d;
  opacity: 0.12;
  margin-bottom: 17px;
}

.hero-users-box {
  display: flex;
  justify-content: space-evenly;
}

.hero-users-box-text {
  font-family: 'Sharp Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;

  color: #004d40;
}

.hero-users-box-text-field {
  font-weight: 700;
}

// -------------Second Box Hero--------

.hero-item:last-child {
  position: relative;
  height: 100%;
  min-height: 596px;
}

.hero-ellipse {
  width: 251px;
  height: 212px;
  border-radius: 25% 75% 57% 43% / 33% 36% 64% 67%;
  background-color: #00ca88;
  transform: rotate(11.74deg);
  margin: 0;
  position: absolute;
  left: -20;
  top: 16;
  z-index: 0;
}

.hero-form-wrapper {
  width: 100%;
  padding: 52px 8px 2px 6px;
  position: absolute;
  z-index: 1;
}

.hero-form {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 30px 15px 44px;
}

.hero-form-title {
  font-family: 'Sharp Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #003d29;
}

.hero-form-title-field {
  font-weight: 400;
}

.hero-checkbox-text {
  font-size: 13px;
  line-height: 1.23;
}

.hero-form-btn {
  font-size: 15px;
  line-height: 1.2;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 4px;
}

.hero-form-google-btn {
  font-size: 15px;
  line-height: 1.2;
  padding-top: 13px;
  padding-bottom: 13px;
}

/*  ----------------------------PRINCIPALE WORK---------------------------- */

.principle-work-section {
  padding-top: 33px;
  background-color: #004d40;
}

.principle-work-container {
  position: relative;
  padding-bottom: 20px;
}

.principle-work-title {
  font-family: 'Sharp Sans', sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.01em;

  color: #fdfbf9;
  margin-bottom: 19px;
}

.principle-work-title-field {
  font-weight: 700;
}

.principle-work-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;

  color: #fdfbf9;
}

.principle-work-ellipse-wrapper {
  // position: relative;
  height: 177px;
}
.principle-work-ellipse {
  width: 177px;
  height: 152px;
  border-radius: 38% 62% 46% 54% / 56% 70% 30% 44%;
  background-color: #00ca88;
  transform: rotate(11.74deg);
  margin: 0;
  position: absolute;
  left: -20;
  top: 309;
  z-index: 0;
}

.principle-work-video-wrapper {
  background: linear-gradient(
    0deg,
    rgba(245, 186, 209, 0.8932714617169374) 4%,
    rgba(249, 214, 228, 1) 12%,
    rgba(253, 238, 244, 1) 26%,
    rgba(254, 247, 250, 1) 77%
  );
  border-radius: 5px;
  padding: 17px 8px 9px;
  position: absolute;
  top: 359;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 329px;
  height: 184px;
}

.principle-work-video {
  position: absolute;
  top: 17;
}

/*  ----------------------------PRINCIPALE WORK---------------------------- */
