:root {
  --ClearWhite: #ffffff;
  --PrimaryColorSpanishGreen: #0e924d;
  --PrimaryColorBlueGreenColorWheel: #004d40;
  --PrimaryColorSacramentoStateGreen: #003d29;
  --PrimaryColorMidnightGreenEagleGreen: #033f47;
  --PrimaryColorCaribbeanGreen: #00ca88;
  --WhitePanel: #fdfbf9;
}
