<div class="backdrop is-hidden">
  <div class="drop-down-menu-container">
    <ul class="drop-down-list">
      <li class="drop-down-item">
        <div class="drop-down-avatar-item">
          <svg class="drop-down-icon" width="40" height="40">
            <use xlink:href="./images/sprite.svg#icon-avatar"></use>
          </svg>
        </div>
        <div class="drop-down-avatar-item">
          <h3 class="drop-down-avatar-title">Olivia Rhye</h3>
          <a href="#" class="drop-down-avatar-link">olivia@untitledui.com</a>
        </div>
      </li>

      <li class="drop-down-item">
        <a href="#" class="drop-down-account-link">
          <span class="drop-down-account-icon-box">
            <svg class="drop-down-account-icon" width="16" height="16">
              <use xlink:href="./images/sprite.svg#icon-profile"></use>
            </svg>
          </span>
          View Profile
        </a>
      </li>
      <li class="drop-down-item">
        <a href="#" class="drop-down-account-link">
          <span class="drop-down-account-icon-box">
            <svg class="drop-down-account-icon" width="16" height="16">
              <use xlink:href="./images/sprite.svg#icon-settings"></use>
            </svg>
          </span>
          Settings
        </a>
      </li>
      <li class="drop-down-item">
        <a href="#" class="drop-down-account-link">
          <span class="drop-down-account-icon-box">
            <svg class="drop-down-account-icon" width="16" height="16">
              <use xlink:href="./images/sprite.svg#icon-phone"></use>
            </svg>
          </span>
          Contact Us
        </a>
      </li>
      <li class="drop-down-item">
        <a href="#" class="drop-down-account-link">
          <span class="drop-down-account-icon-box">
            <svg class="drop-down-account-icon" width="16" height="16">
              <use xlink:href="./images/sprite.svg#icon-logout"></use>
            </svg>
          </span>
          Log out
        </a>
      </li>
    </ul>
  </div>
</div>
