<header class="header">
  <div class="container header-container">
    <div class="menu-wrapper">
      <button type="button" class="menu-btn">
        <svg class="drop-down-icon" width="24" height="24">
          <use xlink:href="./images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <a href="#">
        <img src="./images/logo.png" alt="IELTS" width="98" height="64" />
      </a>
    </div>

    <button class="subscribe-btn">Subscribe</button>
  </div>
</header>
<main class="main">
  <section class="section hero">
    <div class="container hero-container">
      <div class="hero-item">
        <h1 class="hero-title">
          #1 IELTS Essay
          <span class="hero-title-field">Checker</span>
        </h1>
        <p class="hero-text">
          IELTS Navigator is the world’s most accurate online IELTS essay
          checking system. Get instant, detailed, insightful feedback on your
          practice essays powered by cutting-edge AI technology.
        </p>
        <button type="button" class="hero-btn">View Packages</button>
        <hr class="hero-line" />
        <div class="hero-users-box">
          <div class="hero-users-box-item">
            <img
              src="./images/hero/avatars.png"
              alt="Avatar group"
              width="124"
              height="24"
            />
          </div>
          <div class="hero-users-box-item">
            <p class="hero-users-box-text">
              Join <span class="hero-users-box-text-field">26,199</span> happy
              users
            </p>
          </div>
        </div>
      </div>
      <div class="hero-item">
        <div class="hero-ellipse"></div>
        <div class="hero-form-wrapper">
          <form action="" class="hero-form">
            <h2 class="hero-form-title">
              Get your essay writing band score now.
              <span class="hero-form-title-field">
                Register for your limited free trial.
              </span>
            </h2>
            <div class="custom-input custom-input-wrapper">
              <input
                class="custom-input-input"
                type="name"
                id="name"
                placeholder="yourname"
              />
              <label class="custom-input-label" for="name">Your name</label>
            </div>
            <div class="custom-input custom-input-wrapper">
              <input
                class="custom-input-input"
                type="email"
                id="email"
                placeholder="yourname"
              />
              <label class="custom-input-label" for="email">Your email</label>
            </div>
            <div class="custom-input custom-input-wrapper">
              <input
                class="custom-input-input"
                type="password"
                id="password"
                placeholder="yourname"
              />
              <label class="custom-input-label" for="password"
                >Create paswword</label
              >
            </div>
            <div class="form-checkbox">
              <input type="checkbox" class="checkbox" value="" />
              <p class="checkbox-text hero-checkbox-text">
                I agree to the
                <a href="#" class="checkbox-link"> privacy policy</a> and
                <a href="#" class="checkbox-link"> terms & conditions.</a>
              </p>
            </div>
            <button type="button" class="form-btn hero-form-btn">
              Start Trial
            </button>
            <button type="button" class="form-google-btn hero-form-google-btn">
              <span class="google-icon-box">
                <svg class="icon-google" width="24" height="24">
                  <use xlink:href="./images/sprite.svg#icon-google"></use>
                </svg>
              </span>
              Sign up with Google
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="section principle-work-section">
    <div class="container principle-work-container">
      <h2 class="principle-work-title">
        <span class="principle-work-title-field">How</span>
        it works
      </h2>
      <p class="principle-work-text">
        IELTS Navigator is an AI-powered solution using deep learning technology
        trained by veteran IELTS examiners using hundreds of thousands of
        writing samples. The AI system measures everything an actual examiner
        does. We’re proud to say the system is 93% as accurate as a real teacher
        and gives you feedback for a fraction of the time and cost.
      </p>
      <div class="principle-work-ellipse-wrapper">
        <div class="principle-work-ellipse"></div>
      </div>
      <div class="principle-work-video-wrapper">
        <div class="principle-work-video">
          <img
            src="./images/home-before-reg/video.gif"
            alt="How It Works Video"
            width="313"
            height="176"
          />
        </div>
      </div>
    </div>
  </section>
  <section class=""></section>
</main>
<footer></footer>
