<header class="header">
  <div class="container header-container">
    <div class="menu-wrapper">
      <button type="button" class="menu-btn">
        <svg class="drop-down-icon" width="24" height="24">
          <use xlink:href="./images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <a href="#">
        <img src="./images/logo.png" alt="IELTS" width="98" height="64" />
      </a>
    </div>

    <button class="subscribe-btn">Subscribe</button>
  </div>
</header>
<main class="main">
  <section class="section hero">
    <div class="container">
      <h1 class="hero-title">
        #1 IELTS Essay
        <span class="hero-title-field">Checker</span>
      </h1>
      <p class="hero-text">
        IELTS Navigator is the world’s most accurate online IELTS essay checking
        system. Get instant, detailed, insightful feedback on your practice
        essays powered by cutting-edge AI technology.
      </p>
      <button type="button" class="hero-btn">View Packages</button>
      <hr class="hero-line" />
      <div class="hero-users-box">
        <div class="hero-users-box-item">
          <img
            src="./images/hero/avatars.png"
            alt="Avatar group"
            width="124"
            height="24"
          />
        </div>
        <div class="hero-users-box-item">
          <p class="hero-users-box-text">
            Join <span class="hero-users-box-text-field">26,199</span> happy
            users
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
<footer></footer>
