<div class="backdrop is-hidden">
  <div class="sign-container">
    <button class="close-btn">
      <svg class="icon-close" width="20" height="20">
        <use xlink:href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="form-title">
      Sign in 👋
      <span class="form-title-wrapper">welcome Back!</span>
    </h2>
    <form action="">
      <div class="custom-input custom-input-wrapper">
        <input
          class="custom-input-input"
          type="email"
          id="email"
          placeholder="yourname"
        />
        <label class="custom-input-label" for="email">Your email</label>
      </div>
      <div class="custom-input custom-input-wrapper">
        <input
          class="custom-input-input"
          type="password"
          id="password"
          placeholder="yourname"
        />
        <label class="custom-input-label" for="password">Create paswword</label>
      </div>
      <a href="#" class="forgot-link">Forgot password?</a>
      <button type="button" class="form-btn">Sign in</button>
      <div class="form-text-box">
        <hr class="form-text-box-line" />
        <p class="form-text-box-text">or</p>
      </div>
      <button type="button" class="form-google-btn">
        <span class="google-icon-box">
          <svg class="icon-google" width="24" height="24">
            <use xlink:href="./images/sprite.svg#icon-google"></use>
          </svg>
        </span>
        Sign in with Google
      </button>
      <p class="form-text-account">
        Don’t have an account? <a href="#" class="form-link"> Register now</a>
      </p>
    </form>
  </div>
</div>
