@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/sharp-sans/SharpSans.otf') format('otf');
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts//sharp-sans/SharpSansMedium.otf') format('otf');
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/sharp-sans/SharpSansSemibold.otf') format('otf');
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/sharp-sans/SharpSansBold.otf') format('otf');
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/sharp-sans/SharpSansExtrabold.otf') format('otf');
}
